<div class="relative">
    <img ngSrc="assets/384.png" class="peer" height="96" width="96" alt=""/>
    <div class="peer-hover:block hidden absolute bg-amber-300 left-24 top-0 rounded-2xl p-1.5">
        <div class="flex">
            <p class="whitespace-nowrap">
                Pokédex Nr: {{ pkmn.id }}
                <br/>
                Lebenspunkte: {{ pkmn._currentLp }} | {{ pkmn.maxLp }}
                <br/>
                aktuelles Level: {{ pkmn._currentLv }} | {{ pkmn.maxLv }}
                <br/>
                Erfahrungspunkte: {{ pkmn._currentXp }} | {{ pkmn.xp }}
                <br/>
            </p>
        </div>
    </div>
</div>



