<main class="main">
    <div>
        <button (click)="gainXP()">Klick Mich um zu XP zu erhalten!</button>
        <br/>
        <button (click)="gainLP()">Klick Mich um zu heilen!</button>
    </div>
    <div class="feld-container" [ngStyle]="{ 'grid-template-columns': gridColumns, 'grid-template-rows': gridRows }">
        <div *ngFor="let field of fieldArray; let i = index" class="feld" [id]="field.x + '-' + field.y">
            <app-pokemon *ngIf="pkmnOnField(rayquaza.xyPosition, field)" [pkmn]="rayquaza"/>
            <!--
                    <app-fruit *ngIf="objectCollision(healthBerry.xyPosition, this.rayquaza.xyPosition)"  [fruit]="healthBerry"/>
            -->
        </div>
    </div>
</main>
<router-outlet></router-outlet>
