.feld {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 96px;
  height: 96px;
}

.feld-container {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.button-item {
  width: 100%;
  margin-bottom: 10px;
}

.button-style {
  background-color: #FFD700; /* Amber-300 */
  border-radius: 0.75rem; /* rounded-xl */
  padding: 0.5rem 1rem; /* p-2 */
  margin: 1rem 0.5rem; /* m-4 */
}

.button-wrapper {
  width: 25%;
}

.title {
  text-align: center;
}
