<main class="main">
  <div>
    <button (click)="gainXP(25)" class="bg-amber-300 rounded-xl p-2 m-4">
      Gib mir XP du Bengel!
    </button>
    <br />
    <button (click)="gainLP(3)" class="bg-amber-300 rounded-xl p-2 m-4">
      Heal me Daddy!
    </button>
    <button (click)="removeLP(4)" class="bg-amber-300 rounded-xl p-2 m-4">
      Aua Aua UwU!
    </button>
    <button (click)="eisStrahl()" class="bg-amber-300 rounded-xl p-2 m-4">
      Eisstrahl!
    </button>
  </div>
  <div
    class="feld-container"
    [ngStyle]="{
      'grid-template-columns': gridColumns,
      'grid-template-rows': gridRows
    }"
  >
    <div
      *ngFor="let field of fieldArray; let i = index"
      class="feld"
      [id]="field.x + '-' + field.y"
    >
      <app-pokemon
        *ngIf="pkmnOnField(rayquaza.xyPosition, field)"
        [pkmn]="rayquaza"
      />
      <app-pokemon
        *ngIf="pkmnOnField(dragoran.xyPosition, field)"
        [pkmn]="dragoran"
      />
      <!--
                    <app-fruit *ngIf="objectCollision(healthBerry.xyPosition, this.rayquaza.xyPosition)"  [fruit]="healthBerry"/>
            -->
    </div>
  </div>
</main>
<router-outlet></router-outlet>
